In [1]:
from sqlalchemy import create_engine

In [2]:
engine = create_engine('sqlite:///:memory:', echo=True)

In [3]:
from sqlalchemy.ext.declarative import declarative_base

In [4]:
base = declarative_base()

In [7]:
from sqlalchemy import Column, Integer,String
from sqlalchemy import Sequence

In [8]:
class User(base):
...     __tablename__ = 'user'
...
...     id = Column(Integer,Sequence('user_id_seq'),primary_key=True)
...     name = Column(String(50))
...     fullname = Column(String(50))
...     nickname = Column(String(50))
...
...     def __repr__(self):
...        return "<User(name='%s', fullname='%s', nickname='%s')>" % (
...                             self.name, self.fullname, self.nickname)

In [9]:
User.__table__

Table('user', MetaData(bind=None), Column('id', Integer(), table=<user>, primary_key=True, nullable=False, default=Sequence('user_id_seq', metadata=MetaData(bind=None))), Column('name', String(length=50), table=<user>), Column('fullname', String(length=50), table=<user>), Column('nickname', String(length=50), table=<user>), schema=None)

In [10]:
base.metadata.create_all(engine)

2019-08-17 16:51:35,865 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-08-17 16:51:35,866 INFO sqlalchemy.engine.base.Engine ()
2019-08-17 16:51:35,867 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-08-17 16:51:35,868 INFO sqlalchemy.engine.base.Engine ()
2019-08-17 16:51:35,870 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("user")
2019-08-17 16:51:35,871 INFO sqlalchemy.engine.base.Engine ()
2019-08-17 16:51:35,872 INFO sqlalchemy.engine.base.Engine
CREATE TABLE user (
	id INTEGER NOT NULL,
	name VARCHAR(50),
	fullname VARCHAR(50),
	nickname VARCHAR(50),
	PRIMARY KEY (id)
)


2019-08-17 16:51:35,873 INFO sqlalchemy.engine.base.Engine ()
2019-08-17 16:51:35,874 INFO sqlalchemy.engine.base.Engine COMMIT

In [30]:
ed_user = User(name='ed', fullname='Ed Jones', nickname='edsnickname')

In [27]:
from sqlalchemy.orm import sessionmaker

In [28]:
Session = sessionmaker(bind=engine)

In [29]:
session = Session()

In [32]:
session.add(ed_user)

In [35]:
Q=session.query(User)

In [38]:
result_ed=Q.filter_by(name='ed').first()

2019-08-17 17:10:47,715 INFO sqlalchemy.engine.base.Engine SELECT user.id AS user_id, user.name AS user_name, user.fullname AS user_fullname, user.nickname AS user_nickname
FROM user
WHERE user.name = ?
 LIMIT ? OFFSET ?
2019-08-17 17:10:47,716 INFO sqlalchemy.engine.base.Engine ('ed', 1, 0)

In [41]:
result_ed

In [39]:
result_ed is ed_user

True

# add more than one instance row once

In [47]:
session.add_all([
...     User(name='wendy', fullname='Wendy Williams', nickname='windy'),
...     User(name='mary', fullname='Mary Contrary', nickname='mary'),
...     User(name='fred', fullname='Fred Flintstone', nickname='freddy')])

In [42]:
ed_user.nickname = 'eddie'

In [43]:
session.dirty

IdentitySet([<User(name='ed', fullname='Ed Jones', nickname='eddie')>])

In [49]:
session.new

IdentitySet([<User(name='wendy', fullname='Wendy Williams', nickname='windy')>, <User(name='mary', fullname='Mary Contrary', nickname='mary')>, <User(name='fred', fullname='Fred Flintstone', nickname='freddy')>])

In [50]:
session.commit()

2019-08-17 17:18:31,939 INFO sqlalchemy.engine.base.Engine INSERT INTO user (name, fullname, nickname) VALUES (?, ?, ?)
2019-08-17 17:18:31,939 INFO sqlalchemy.engine.base.Engine ('wendy', 'Wendy Williams', 'windy')
2019-08-17 17:18:31,941 INFO sqlalchemy.engine.base.Engine INSERT INTO user (name, fullname, nickname) VALUES (?, ?, ?)
2019-08-17 17:18:31,942 INFO sqlalchemy.engine.base.Engine ('mary', 'Mary Contrary', 'mary')
2019-08-17 17:18:31,943 INFO sqlalchemy.engine.base.Engine INSERT INTO user (name, fullname, nickname) VALUES (?, ?, ?)
2019-08-17 17:18:31,943 INFO sqlalchemy.engine.base.Engine ('fred', 'Fred Flintstone', 'freddy')
2019-08-17 17:18:31,944 INFO sqlalchemy.engine.base.Engine COMMIT

In [52]:
session.new

IdentitySet([])

In [54]:
ed_user.id

1